.graph{
    background:#fff;
    border:1px solid #eee;
    border-radius:4px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
    fill: steelblue;
}
