#tracker{
    background-size:cover;
    font-family: 'Poiret One', cursive;
    margin:0;
    padding:0;
    width:100%;
    overflow-x:hidden;
}

.tracker{
    overflow-y:auto;
    overflow-x:hidden;
    background:#eee;
}
#AdBlock, #AdBlock2{
    float:right;
    margin-top:1em;
}
#mapView{
    height:100%;
}
#mapHolder{
    height:calc(100% - 15em);
}
#map{
    height:100%;
    min-height:40em;
    width:100%;
    margin:0;
    padding:0;
}
body,html{
    margin:0;
    padding:0;
}
#currentViews{
    background:#333;
    width:100%;
    height:18em;
    position:relative;
    overflow:hidden;

    .bubbleNumber{
        width:10em;
        height:10em;
        border-radius:100%;
        background:#c0392b;
        color:#fff;
        position:absolute;
        top:calc(50% - 7em);
        left:calc(50% - 5em);
        text-align:center;
        position:relative;
    }
    #currentViewHolder{
        position:absolute;
        left:0;
        right:0;
        text-align:center;
        top:calc(50% - 25pt);
        font-size:35pt;

    }
    h4{
        text-align:center;
        margin-top:1em;
        font-size:26pt;
        color:#fff;
    }
}
.socialViewsContainer{
    height:18em;
    background:#444;
    padding-right:0;
}
.adContainer{
    height:18em;
    background:#c0392b;
}
#allViews{
    border-radius:4px;
    background:#444;
    width:100%;
    position:relative;
    color:#fff;
    font-size:18pt;
    font-family: 'Poiret One', cursive;
    overflow:auto;
    border-radius:none;

    .row_container{
        width:100%;
        clear:both;
        overflow:auto;
        text-align:center;
        position:relative;
        overflow-y:hidden;
    }
    .social{
        background:#555;
        color:#fff;
    }
    .leftView{
        margin-right:150px;
    }
    .rightView{
        margin-left:150px;
    }
    p{
        margin-top:.5em;
    }
    #totalViewsHolder{
        margin-left:1em;
    }
    label{
        background:#c0392b;
        position:absolute;
        top:0;
        color:#fff;
        padding:.5em;
        margin:0;
        width:160px;
        border-radius:none;
    }
    .left{
        left:0;
    }
    .right{
        float:right;
        right:0;
    }
}

@media screen and (min-width: 400px) {
    .container-fluid{
        padding:0;
    }
}

.fullHeight{
    height:100%;
}
.noLeft{
    margin-left:0;
    padding-left:0;
}
.bannerTitleBar{
    width:calc(100% + 1.3em);
    background:#f76f5f;
    margin:0 -.6em;
    border-radius:2px 2px 0 0 ;
    padding:.5em;
    font-size:18pt;
    color:#fff;
}
.shareLink{
    position:absolute;
    top:1em;
    right:.5em;
    width:auto;
    z-index:1000;
    color:#666;
    background:#f5f5f5;
    font-size:20pt;
    padding-left:1em;
    padding-right:1em;
    border-radius:2px;

}
#sidebar{
    height:100%;
    width:100%;
    position:relative;
    background:#333;
    padding-top:1em;

    #logo{
        width:50%;
        margin:.6em;
        margin-bottom:2em;
    }
    .col-xs-3{
        text-align:center;
    }
    i{
        font-size:19pt;
    }

    ul{
        color:#eee;
        list-style-type:none;
        margin:0;
        padding:0;

        .active{
            background:#f76f5f;
            position:relative;
            &:after{
                content: ' ';
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-right:15px solid #eee;
                position:absolute;
                right:0;
                top:calc(50% - 12.5px);
            }
            &:hover{
                background:#f76f5f;
            }
        }
        li{
            padding:1em;

            &:hover{
                cursor:pointer;
                background:#222;
            }
        }
    }
}

.pageTitle{
    margin-bottom:1em;
}
#numbers{
    .number{
        font-size:28pt;
    }
    .viewModule {
        padding:1em;
        border-radius:4px;

        .col-xs-7, .col-xs-5{
            background:#00bef6;
            height:7em;

        }
        .percentBar{
            height:3em;
            background:#009641;
            overflow:hidden;
        }
        .percentBar p{
            font-size:28pt;
            font-weight:bolder;
            color:rgba(255,255,255,.5);
            float:right;

        }
        .sliderBar{
            position:absolute;
            left:0;
            top:0;
            bottom:0;
            background:rgba(0,0,0,.3);
        }
        .twitterPercent{
            background:#00abde;
        }
        .totalViews{
            background:#00a74b;
        }
        .facebookViews{
            background:#0285ff;
        }
        .facebookPercent{
            background:#1164b1;
        }
        .googleViews{
            background:#f76946;
        }
        .googlePercent{
            background:#df603f;
        }
        .col-xs-7{
            color:#fff;
        }
        .col-xs-5{
            padding-right:2em;

            i{
                font-size:50pt;
                color:rgba(255,255,255,.5);
                margin-top:.2em;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .adContainer{
        height:13em;
    }
    #AdBlock{
        padding-top:1em;
        padding-bottom:1em;
    }
    #map{
        min-height:20em;
    }
    .col-xs-12{
        padding:0;
    }
    #sidebar{
        height:auto;
    }
    .fullHeight{
        height:auto;
    }
    .noLeft{
        padding-right:0;
    }
}
