.simpleTracking{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding:1em;
    padding-top:calc(30% - 3em);
}

#viewToolbar{
    width:30em;
    height:auto;
    z-index:1000;
    background:#444;
    border:1px solid #333;
    position:absolute;
    top:calc(50% - 15em);
    left:calc(50% - 15em);
    padding-bottom:2em;
    font-family: 'Poiret One', cursive;
    overflow-x:hidden;
    border-radius:5px;
    box-shadow:0 0 12px rgba(0,0,0,.5);

    .title{
        background:url('../../../h/assets/background.png');
        padding:1em 0;
    }
    .descript{
        color:#fff;
        padding:1em;
    }
    .logo{
        height:20px;
        margin-left:10px;
    }
    input{
        border:none;
        height:100%;
        font-size:18pt;
        width:80%;
        background:#fff;
        color:#333;
        float:left;
        padding-left:.5em;
        font-family: 'Poiret One', cursive;
        margin:0;
        border-radius:3px 0 0 3px;
    }
    .container{
        position:relative;
        width:100%;
    }
    .button{
        border:none;
        position:absolute;
        top:0;
        height:36px;
        bottom:0;
        padding:.6em;
        border-radius:0 3px 3px 0;
        background:#f76f5f;
        font-weight:bolder;
        color:#fff;
        float:right;

        &:hover{
            background:#f06c5c;
            text-decoration:none;
            cursor:pointer;
        }
    }

    .inputWrapper{
        position:absolute;
        top:0;
        bottom:0;
        left:180px;
        height:100%;
    }
}

@media screen and (max-width: 400px) {
    body{
        overflow:hidden;
    }
    #viewToolbar{
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        border-radius:0;
        border:none;
    }
    .innerBody{
        padding:.5em;
    }

}
