#viewToolbar{
    width:100%;
    height:50px;
    background:#333;
    position:absolute;
    bottom:0;
    font-family: 'Poiret One', cursive;
    .logo{
        height:30px;
        margin-top:10px;
        margin-left:10px;
    }
    label{
        color:#ccc;
        margin-left:2em;
        margin-right:1em;
    }
    input{
        border:none;
        height:100%;
        font-size:18pt;
        width:170px;
        background:#444;
        color:#eee;
        padding-left:.5em;
        font-family: 'Poiret One', cursive;
    }
    .getRighted{
        margin-right:2em;
        
    }
    a{
        border:none;
        position:absolute;
        top:0;
        bottom:0;
        padding:1em;
        margin-top:0;
        background:#BF0000;
        font-weight:bolder;
        color:#fff;
        overflow:hidden;

        &:hover{
            background:#9E1919;
            text-decoration:none;
        }
    }

    .inputWrapper{
        position:absolute;
        top:0;
        bottom:0;
        left:180px;
        height:100%;
    }
}
