body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.reactBody, #render {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#site {
  width: 100%;
  height: calc(100% - 36px);
  border: 0;
  position: absolute;
  top: 0;
}

#debugMessage {
  width: 400px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}

#tracker {
  background-size: cover;
  font-family: 'Poiret One', cursive;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.tracker {
  overflow-y: auto;
  overflow-x: hidden;
  background: #eee;
}

#map {
  height: 100%;
  min-height: 40em;
  width: 100%;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

#currentViews {
  background: #333;
  width: 100%;
  height: 18em;
  position: relative;
  overflow: hidden;
}
#currentViews .bubbleNumber {
  width: 10em;
  height: 10em;
  border-radius: 100%;
  background: #c0392b;
  color: #fff;
  position: absolute;
  top: calc(50% - 7em);
  left: calc(50% - 5em);
  text-align: center;
  position: relative;
}
#currentViews #currentViewHolder {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: calc(50% - 25pt);
  font-size: 35pt;
}
#currentViews h4 {
  text-align: center;
  margin-top: 1em;
  font-size: 26pt;
  color: #fff;
}

#allViews {
  border-radius: 4px;
  background: #eee;
  width: 100%;
  height: auto;
  position: relative;
  font-size: 18pt;
  font-family: 'Poiret One', cursive;
  overflow: auto;
  border-radius: none;
}
#allViews .row_container {
  width: 100%;
  clear: both;
  overflow: auto;
  text-align: center;
  position: relative;
  overflow-y: hidden;
}
#allViews .social {
  background: #f5f5f5;
}
#allViews .leftView {
  margin-right: 150px;
}
#allViews .rightView {
  margin-left: 150px;
}
#allViews p {
  margin-top: .5em;
}
#allViews #totalViewsHolder {
  margin-left: 1em;
}
#allViews label {
  background: #c0392b;
  position: absolute;
  top: 0;
  color: #fff;
  padding: .5em;
  margin: 0;
  width: 160px;
  border-radius: none;
}
#allViews .left {
  left: 0;
}
#allViews .right {
  float: right;
  right: 0;
}

@media screen and (max-width: 400px) {
  #map {
    min-height: 20em;
  }
}
#viewToolbar {
  width: 100%;
  height: auto;
  background: #333;
  position: absolute;
  bottom: 0;
  font-family: 'Poiret One', cursive;
  overflow-x: hidden;
}
#viewToolbar .logo {
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
#viewToolbar label {
  color: #ccc;
  margin-left: 2em;
  margin-right: 1em;
}
#viewToolbar input {
  border: none;
  height: 100%;
  font-size: 18pt;
  width: calc(100% - 80px);
  background: #444;
  color: #eee;
  padding-left: .5em;
  font-family: 'Poiret One', cursive;
}
#viewToolbar .getRighted {
  margin-right: 2em;
}
#viewToolbar .button {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: .6em;
  margin-top: 0;
  background: #c0392b;
  font-weight: bolder;
  color: #fff;
  overflow: hidden;
}
#viewToolbar .button:hover {
  background: #B80B0B;
  text-decoration: none;
}
#viewToolbar .inputWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 180px;
  height: 100%;
}

@media screen and (max-width: 400px) {
  #viewToolbar .logo {
    margin-bottom: 1em;
  }
  #viewToolbar input {
    width: calc(100% - 50px);
  }
  #viewToolbar label {
    display: none;
  }
  #viewToolbar .button {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
