body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.reactBody, #render {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#site {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
}

#debugMessage {
  width: 400px;
  max-width: 100%;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}

::selection {
  background: #000000;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #000000;
  /* Gecko Browsers */
}

#tracker {
  background-size: cover;
  font-family: 'Poiret One', cursive;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.tracker {
  overflow-y: auto;
  overflow-x: hidden;
  background: #eee;
}

#AdBlock, #AdBlock2 {
  float: right;
  margin-top: 1em;
}

#mapView {
  height: 100%;
}

#mapHolder {
  height: calc(100% - 15em);
}

#map {
  height: 100%;
  min-height: 40em;
  width: 100%;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

#currentViews {
  background: #333;
  width: 100%;
  height: 18em;
  position: relative;
  overflow: hidden;
}
#currentViews .bubbleNumber {
  width: 10em;
  height: 10em;
  border-radius: 100%;
  background: #c0392b;
  color: #fff;
  position: absolute;
  top: calc(50% - 7em);
  left: calc(50% - 5em);
  text-align: center;
  position: relative;
}
#currentViews #currentViewHolder {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: calc(50% - 25pt);
  font-size: 35pt;
}
#currentViews h4 {
  text-align: center;
  margin-top: 1em;
  font-size: 26pt;
  color: #fff;
}

.socialViewsContainer {
  height: 18em;
  background: #444;
  padding-right: 0;
}

.adContainer {
  height: 18em;
  background: #c0392b;
}

#allViews {
  border-radius: 4px;
  background: #444;
  width: 100%;
  position: relative;
  color: #fff;
  font-size: 18pt;
  font-family: 'Poiret One', cursive;
  overflow: auto;
  border-radius: none;
}
#allViews .row_container {
  width: 100%;
  clear: both;
  overflow: auto;
  text-align: center;
  position: relative;
  overflow-y: hidden;
}
#allViews .social {
  background: #555;
  color: #fff;
}
#allViews .leftView {
  margin-right: 150px;
}
#allViews .rightView {
  margin-left: 150px;
}
#allViews p {
  margin-top: .5em;
}
#allViews #totalViewsHolder {
  margin-left: 1em;
}
#allViews label {
  background: #c0392b;
  position: absolute;
  top: 0;
  color: #fff;
  padding: .5em;
  margin: 0;
  width: 160px;
  border-radius: none;
}
#allViews .left {
  left: 0;
}
#allViews .right {
  float: right;
  right: 0;
}

@media screen and (min-width: 400px) {
  .container-fluid {
    padding: 0;
  }
}
.fullHeight {
  height: 100%;
}

.noLeft {
  margin-left: 0;
  padding-left: 0;
}

#sidebar {
  height: 100%;
  width: 100%;
  background: #333;
  padding-top: 1em;
}
#sidebar #logo {
  width: 50%;
  margin: .6em;
  margin-bottom: 2em;
}
#sidebar .col-xs-3 {
  text-align: center;
}
#sidebar i {
  font-size: 19pt;
}
#sidebar ul {
  color: #eee;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sidebar ul .active {
  background: #f76f5f;
  position: relative;
}
#sidebar ul .active:after {
  content: ' ';
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #eee;
  position: absolute;
  right: 0;
  top: calc(50% - 12.5px);
}
#sidebar ul .active:hover {
  background: #f76f5f;
}
#sidebar ul li {
  padding: 1em;
}
#sidebar ul li:hover {
  cursor: pointer;
  background: #222;
}

.pageTitle {
  margin-bottom: 1em;
}

#numbers .number {
  font-size: 28pt;
}
#numbers .viewModule {
  padding: 1em;
  border-radius: 4px;
}
#numbers .viewModule .col-xs-7, #numbers .viewModule .col-xs-5 {
  background: #00bef6;
  height: 7em;
}
#numbers .viewModule .percentBar {
  height: 3em;
  background: #009641;
  overflow: hidden;
}
#numbers .viewModule .percentBar p {
  font-size: 28pt;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.5);
  float: right;
}
#numbers .viewModule .sliderBar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
#numbers .viewModule .twitterPercent {
  background: #00abde;
}
#numbers .viewModule .totalViews {
  background: #00a74b;
}
#numbers .viewModule .facebookViews {
  background: #0285ff;
}
#numbers .viewModule .facebookPercent {
  background: #1164b1;
}
#numbers .viewModule .googleViews {
  background: #f76946;
}
#numbers .viewModule .googlePercent {
  background: #df603f;
}
#numbers .viewModule .col-xs-7 {
  color: #fff;
}
#numbers .viewModule .col-xs-5 {
  padding-right: 2em;
}
#numbers .viewModule .col-xs-5 i {
  font-size: 50pt;
  color: rgba(255, 255, 255, 0.5);
  margin-top: .2em;
}

@media screen and (max-width: 400px) {
  .adContainer {
    height: 13em;
  }

  #AdBlock {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #map {
    min-height: 20em;
  }

  .col-xs-12 {
    padding: 0;
  }

  #sidebar {
    height: auto;
  }

  .fullHeight {
    height: auto;
  }

  .noLeft {
    padding-right: 0;
  }
}
.simpleTracking {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  padding-top: calc(30% - 3em);
}

#viewToolbar {
  width: 30em;
  height: auto;
  z-index: 1000;
  background: #444;
  border: 1px solid #333;
  position: absolute;
  top: calc(50% - 15em);
  left: calc(50% - 15em);
  padding-bottom: 2em;
  font-family: 'Poiret One', cursive;
  overflow-x: hidden;
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
#viewToolbar .title {
  background: url("../../../h/assets/background.png");
  padding: 1em 0;
}
#viewToolbar .descript {
  color: #fff;
  padding: 1em;
}
#viewToolbar .logo {
  height: 20px;
  margin-left: 10px;
}
#viewToolbar input {
  border: none;
  height: 100%;
  font-size: 18pt;
  width: 80%;
  background: #fff;
  color: #333;
  float: left;
  padding-left: .5em;
  font-family: 'Poiret One', cursive;
  margin: 0;
  border-radius: 3px 0 0 3px;
}
#viewToolbar .container {
  position: relative;
  width: 100%;
}
#viewToolbar .button {
  border: none;
  position: absolute;
  top: 0;
  height: 36px;
  bottom: 0;
  padding: .6em;
  border-radius: 0 3px 3px 0;
  background: #f76f5f;
  font-weight: bolder;
  color: #fff;
  float: right;
}
#viewToolbar .button:hover {
  background: #f06c5c;
  text-decoration: none;
  cursor: pointer;
}
#viewToolbar .inputWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 180px;
  height: 100%;
}

@media screen and (max-width: 400px) {
  body {
    overflow: hidden;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
  }

  #viewToolbar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0;
    border: none;
    width: 100%;
  }

  .innerBody {
    padding: .5em;
  }
}
.graph {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: #f76f5f;
}

/*# sourceMappingURL=main.css.map */
