body,html {
    height:100%;
    padding: 0;
    margin: 0;
}
.reactBody, #render{
    height:100%;
    width:100%;
    overflow:hidden;
    margin:0;
    padding:0;
}
#site{
    width:100%;
    height:calc(100% - 36px);
    border:0;
    position:absolute;
    top:0;
}
#debugMessage{
    width:400px;
    position:absolute;
    top:calc(50% - 200px);
    left:calc(50% - 200px);
}

@import 'trackerUI';
@import 'viewToolbar';
