*{
    font-family: 'Roboto', sans-serif;
}
.logoutButton{
    background:#000;
    color:#fff;
    border:none;
    font-size:10pt;
    padding:.5em 1em;
    border-radius:2px;
}
#header{
    background-image:url('./assets/background.png');
    padding-top:8em;
    overflow-x:hidden;
}
#loginGroup{
    position:absolute;
    top:1em;
    right:1em;
    color:#fff;
}
.loginButton{
    font-size:16pt;
    color:#fff;
    text-decoration:none;
    background:#ccc;
    min-width:200px;
    padding:.3em .5em;
}
#twitterLogin{
    background:#4099FF;
}
#twitterLogin:hover{
    background:#3783DB;
    color:#4099FF;
}
#googleLogin{
    background:#dd4b39;
}
#googleLogin:hover{
    background:#C44535;
    color:#dd4b39;
}
#facebookLogin{
    background:#3B5998;
    padding:.3em 1em .3em 1em;
    text-align:center;
}
#facebookLogin:hover{
    background:#314B82;
    color:#3B5998;
}

#logo{
    height:60px;
}
.tagline{
    font-size:18pt;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight:200;
    margin:1.5em 0 .5em 0;
}
::-webkit-input-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight:200;
}
:-moz-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight:200;

}
::-moz-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight:200;

}
:-ms-input-placeholder{
    font-family: 'Roboto', sans-serif;
    font-weight:200;

}
*:focus{
    outline:0;
}
textarea:focus, input:focus{
    outline:0;
}
#link, #track{
    font-family: 'Roboto', sans-serif;
    font-size:24pt;
    padding:.3em;

}
#link{
    width:80%;
    border-radius:4px 0 0 4px;
    border:1px solid #ccc;
    border-right:none;
    font-weight:200;
}
#track{
    width:20%;
    border-radius:0 4px 4px 0;
    border:1px solid #444;
    border-left:none;
    background:#333333;
    font-weight:200;
    color:#fff;
    cursor:pointer;
}
#track:hover{
    background:#222;
}
#track:active{
    background:#111;
}
.trackerHolder{
    position:relative;
}
.trackedToDate{
    position:absolute;
    bottom:1em;
    font-size:14pt;
    color:rgba(255,255,255,.3);
    font-weight:200;
    margin-left:12px;
}
.trackedToDate .number{
    font-size:30pt;
}
.laptop{
    margin-bottom:3em;
    height:100%;
}
#offerings{
    background:#eee;
    padding:3em 0;
}
.module{
    margin:1em;
    background:#fff;
    border-radius:3px;
    border:1px solid #ddd;
    padding:.5em;
    box-shadow:2px 2px 2px rgba(0,0,0,.02);
}
.module i{
    font-size:40pt;
    padding:.2em 0;
}
#testimonials{
    height:5em;
    background:#f5f5f5;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.quotes{
    font-size:30pt;
    padding-top:.5em;
    color:#555;
}
.quote{
    max-width:100%;
    text-overflow: ellipsis;
    height:28px;
    overflow:hidden;
    margin-top:1em;
    color:#f8705f;
    font-size:16pt;
    font-weight:200;
}
#socialMedia{
    background:#fff;
    padding-top:4em;
}
#socialMedia h2{
    font-weight:200;
    color:#f8705f;
    margin:0;
    font-size:26pt;
    margin-bottom:.5em;
}
#socialMedia .subtext{
    font-size:16pt;
    font-weight:200;
}
.right{
    float:right;
}
.showcase{
    width:80%;
    float:right;
}
#footer{
    width:100%;
    height:4em;
    background:#333;
}
.madewith{
    color:#fff;
    font-size:16pt;
    font-weight:200;
    margin-top:.8em;
    float:right;
}
.fa-heart{
    color:#f8705f;
}
/* Checkbox */
.trackingMode{
    margin-left:1em;
    color:#fff;
}
.regular-radio {
    position:relative;
    top:.6em;
    border-radius:4px;
}

.regular-radio:focus { outline: none; }

.regular-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 50px;
    background-color: #e56c69;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.regular-radio:checked:after {
    content: '';
    width: 25px;
    height: 14px;
    top: 3px;
    left: 3px;
    border-radius:4px;
    position: absolute;
    background: #fff;
}

.regular-radio:checked {
    background-color: #6ADD75;
}

.regular-radio:after {
    content: ' ';
    width: 25px;
    height: 14px;
    top: 3px;
    border-radius:4px;
    left: 22px;
    position: absolute;
    background: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
@media screen and (max-width: 800px) {
    .laptop{
        display:none;
    }
    #link{
        width:65%;
    }
    #track{
        width:35%;
    }
    .tagline{
        display:none;
    }
    #logo{
        margin-bottom:2em;
    }
    #header{
        height:30em;
    }
    .trackedToDate{
        display:none;
    }
}
