body,html{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
#logo{
    position:absolute;
    bottom:1em;
    right:1em;
    width:250px;
    opacity:.5;
}
#riot{
    position:absolute;
    top:calc(50% - 120px);
    left:12.5%;
    right:12.5%;
    bottom:calc(50% + 40px);
    border-radius:4px 0 0 4px;
}
#track{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:10em;

}
#options{
    position:absolute;
    bottom:-1.5em;
    color:#fff;
    font-weight:bolder;
    font-family: 'Poiret One', cursive;
    text-shadow:1px 1px 5px #000;
    font-size:18pt;
}
/* Checkbox */

.regular-radio {
    position:relative;
    top:.6em;
    border-radius:4px;
}

.regular-radio:focus { outline: none; }

.regular-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 50px;
    background-color: #e56c69;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.regular-radio:checked:after {
    content: '';
    width: 25px;
    height: 14px;
    top: 3px;
    left: 3px;
    border-radius:4px;
    position: absolute;
    background: #fff;
}

.regular-radio:checked {
    background-color: #6ADD75;
}

.regular-radio:after {
    content: ' ';
    width: 25px;
    height: 14px;
    top: 3px;
    border-radius:4px;
    left: 22px;
    position: absolute;
    background: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
@-webkit-keyframes droplet {
    from {
        width:0;
        height:0;
        left:calc(50%);
        top:calc(50%);
        opacity:1;
        border:0em solid rgba(255,255,255,.7);

    }
    to {
        width:8em;
        height:8em;
        left:calc(50% - 6em);
        top:calc(50% - 6em);
        opacity:0;
        border:2em solid rgba(255,255,255,.7);

    }
}
@keyframes droplet {
    from {
        width:0;
        height:0;
        left:calc(50%);
        top:calc(50%);
        opacity:1;
        border:0em solid rgba(255,255,255,.5);

    }
    to {
        width:8em;
        height:8em;
        left:calc(50% - 4em);
        top:calc(50% - 4em);
        opacity:.2;
        border:2em solid rgba(255,255,255,.5);

    }
}

.droplet{
    cursor:pointer;
    margin:0 auto;
    max-width:20%;
    font-size:36pt;
    overflow:hidden;
    border-radius:0 4px 4px 0;
    border:none;
    color:#fff;
    position:relative;
    outline:none;
    background:transparent;
    overflow:hidden;
    z-index:1;
    text-shadow:1px 1px 1px rgba(0,0,0,.2);
}
.droplet:hover:before{
    -webkit-animation: droplet .3s linear;
    animation: droplet .3s linear;

}
.droplet:active:after{
    background:#1abc9c;
}

.droplet:after{
    content: ' ';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:#1abc9c;
    z-index:-2;


}
.droplet:before{
    content:' ';
    position:absolute;
    background:#16a085;
    z-index:-1;
    width:0;
    height:0;
    left:calc(50%);
    top:calc(50%);
    opacity:1;
    border:0 solid
    rgba(255,255,255,.5);
    border-radius:100%;
    transition:left .3s ease, top .3s ease, height .3s ease, width .3s ease, opacity .3s ease;
}




textarea, input { outline: none; }
::-webkit-input-placeholder {
    font-family: 'Poiret One', cursive;
    color:#ccc;
}
input{
    font-family: 'Poiret One', cursive;
    color:#333;
}
:-ms-input-placeholder {
    font-family: 'Poiret One', cursive;
    color:#ccc;
}

:-moz-placeholder {
    font-family: 'Poiret One', cursive;
    color:#ccc;
}

::-moz-placeholder {
    font-family: 'Poiret One', cursive;
    color:#ccc;
}

#link{
    position:absolute;
    width:90%;
    font-size:30pt;
    padding:.3em;
    border-radius:4px 0 0 4px;
    background:#fff;
    top:0;
    left:0;
    bottom:0;
    border:1px solid #ccc;

}

@media screen and (max-width: 400px) {
    #options{
        position:absolute;
        bottom:-1.5em;
        color:#fff;
        font-weight:bolder;
        font-family: 'Poiret One', cursive;
        text-shadow:1px 1px 5px #000;
        font-size:14pt;
    }
    #riot{
        position:absolute;
        top:calc(50% - 120px);
        left:2%;
        right:2%;
        bottom:calc(50% + 40px);
        border-radius:5px;
    }
    .droplet{
        border-radius:0 4px 4px 0;
    }
}
